header {
  background-image: url('../images/macbook.jpg');
  background-position: center;
  background-size: cover;
  height: 350px;
}

.bg-grey {
  background-color: grey;
}

.article img {
  border-radius: 50%;
  width: 200px;
  margin: 0 auto;
  display: block;
  border: 2px solid #D78248;
  margin-bottom: 15px;
}

header h1 {
  padding: 25px;
  color: white;
}

.article {
  padding: 25px;
}

.centered {
  text-align: center;
}

.article iframe {
  width: 100%;
  border: none;
}

form {
  width: 250px;
  margin: 0 auto;
}

form input, form textarea {
  display: block;
  padding: 5px 10px;
  margin-bottom: 5px;
}

form input, form textarea {
  max-width: 250px;
  min-width: 250px;
}

.hobbies img {
  margin: 0 auto;
  height: 80px;
  display: block;
}
