/*
This file contains, and only contains shared styles across pages.
*/

* {
    margin: 0;
    padding: 0;
}

/* Clearfix to prevent divs collapsing, whille floating it's child elements */
.float-row {
  overflow: auto;
  width: 100%;
}

.float-row::after {
  content: "";
  clear: both;
  display: table;
}
/* END Clearfix */

/* Columns to use within a .float-row */
.float-2 {
  width: 50%;
  float: left;
}

.float-3 {
  width: 33%;
  float: left;
}
/* END Columns */


body {
  font-family: "Noto Sans", sans-serif;
}

h1, h2 {
  font-family: "PT sans", sans-serif;
  margin-bottom: 10px;
}

.menu-wrapper {
    width: 100%;
    min-height: 75px;
    border-bottom: 1px solid black;
    background-color: white;
}

.menu-wrapper ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.menu-wrapper li{
    height: auto;
    width: 100px;
    padding: 12px;
    margin-top: 7px;
    list-style-type: none;
    display: flex;
    flex-grow: 1;
}

.menu-wrapper a{
    margin: 0 auto;
    margin-top: 5px;
    padding: 5px 10px 5px 10px;
    border-bottom: 1px solid #99bbff;
    text-decoration: none;
    color: black;
    display: block;
}

.menu-wrapper a:hover{
    border-color: #0066ff;
    transition: 0.4s;
}

.page-content {
  margin: 0 auto;
  width: 1140px;
  background-color: lightgrey;
}
