.card{
	border-radius: 10px;
	height: auto;
	margin: 10px;
	display: flex;
	flex-grow: 1;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	justify-content: center;
}

.cardcontent{
 	height: 400px;
 	width: auto;
 	border-radius: 10px;
 	
}

.card_top{
	text-align: center;
	height: auto;
	width: auto;
	color: white;
	border-bottom: 3px solid red;
}

.card_bottom{

}

#cardBg1{
	background-image: url(../images/cards/skate.png);
	background-repeat: no-repeat;
	background-size: cover;
}

#cardBg2{
  background-image: url(../images/cards/surfing.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#cardBg3{
  background-image: url(../images/cards/gaming.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#cardBg4{
  background-image: url(../images/cards/golf.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#cardBg5{
  background-image: url(../images/cards/snowboarding.png);
  background-repeat: no-repeat;
  background-size: cover;
}