#body h2,
#body p {
  text-align: center;
}

.page-wrapper {
  background-color: grey;
}

.page {
  margin: 0 auto;
  width: 1140px;
  background-color: lightgrey;
}

header {
  background-image: url('../images/brigitte.jpg');
  background-position: center;
  background-size: cover;
  height: 350px;
}

header h1 {
 color: white;
 text-shadow: 2px 2px black;
  padding: 25px;
}

article, .introduction {
  padding: 25px;
}

article img {

  width: 200px;
  margin: 0 auto;
  display: block;
  border: 2px solid #D78248;
  margin-bottom: 15px;
}
form ol, form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
form li {
  clear: both;
  margin: 0 0 .75em;
  padding: 0;
}

iframe {
  width: 49%;
}

legend
{
  line-height: 2.0;

}

form, fieldset, legend {
  border: 0;
  margin: 0;
  padding: 0;
}
