* {
    margin: 0;
    padding: 0;
}

/* Make flexbox no floating/clearfixing */
.float-row {
  overflow: auto;
  width: 100%;
}

.float-row::after {
  content: "";
  clear: both;
  display: table;
}

.float-2 {
  width: 50%;
  float: left;
}

.float-3 {
  width: 33%;
  float: left;
}

.page-wrapper {
  padding-bottom: 25px;
}

h1, h2 {
  font-family: "PT sans", sans-serif;
  margin-bottom: 10px;
}

p, li {
  font-family: "Noto Sans", sans-serif;
}

#body h2,
#body p {
  text-align: center;
}

.menu-wrapper{
    width: 100%;
    min-height: 75px;
    border-bottom: 1px solid black;
}

.menu-wrapper ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.menu-wrapper li{
    height: auto;
    width: 100px;
    padding: 12px;
    margin-top: 7px;
    list-style-type: none;
    display: flex;
    flex-grow: 1;
}

.menu-wrapper a{
    margin: 0 auto;
    margin-top: 5px;
    padding: 5px 10px 5px 10px;
    border-bottom: 1px solid #99bbff;
    text-decoration: none;
    color: black;
    display: block;
}


.page-wrapper {
  background-color: grey;
}

.page {
  margin: 0 auto;
  width: 1140px;
  background-color: lightgrey;
}

header {
  background-image: url('../images/brigitte.jpg');
  background-position: center;
  background-size: cover;
  height: 350px;
}

header h1 {
 color: white;
 text-shadow: 2px 2px black;
  padding: 25px;
}

article, .introduction {
  padding: 25px;
}

article img {

  width: 200px;
  margin: 0 auto;
  display: block;
  border: 2px solid #D78248;
  margin-bottom: 15px;
}
form ol, form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
form li {
  clear: both;
  margin: 0 0 .75em;
  padding: 0;
}

legend 
{
  line-height: 2.0;

}

form, fieldset, legend {
  border: 0;
  margin: 0;
  padding: 0;
}